VITE_FIREBASE_API_KEY=AIzaSyDc2qD6Ry_9yW7b5IqhmYYWxmFmFXdnPsU
VITE_FIREBASE_AUTH_DOMAIN=gestor-tareas-be210.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gestor-tareas-be210
VITE_FIREBASE_STORAGE_BUCKET="gestor-tareas-be210.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=686610310848
VITE_FIREBASE_APP_ID=1:686610310848:web:5f0f9b9b114f1a5095ef25
VITE_FIREBASE_MEASUREMENT_ID=G-8FTSB9C3SF
VITE_CLOUDINARY_CLOUD_NAME=pbaat9z0
VITE_CLOUDINARY_UPLOAD_PRESET=sena_preset_tareas